<!doctype html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Main</title>
</head>
<body>
<div layout:fragment="content">
    <p th:if="${message}" th:text="${message}"></p>
    <div class="w-100">
        <div class="d-flex justify-content-between">
            <h4>Hello welcome back, <span sec:authentication="name">Hello, user!</span></h4>
            <a class="btn btn-outline-danger" th:href="@{/logout}">Logout</a>
        </div>
        <form action="#" method="post" th:action="@{/item}" th:object="${item}">
            <fieldset>
                <legend>Request Item</legend>

                <label class="form-label" for="name">Request Item</label>
                <input class="form-control" th:field="*{name}" type="text">
                <label class="form-label" for="due_date">Due Date</label>
                <input class="form-control" th:field="*{due_date}" type="date">

                <button type="submit" class="mt-2 btn btn-primary">Submit</button>
            </fieldset>
        </form>
        <form id="approve-form" action="#" th:action="@{/item/approve}" method="post" th:object="${item}">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{actions}">
        </form>
    </div>
    <hr>

    <!--    Request Table -->
    <div id="request-table"></div>

    <script th:inline="javascript">
        console.log([[${#authentication}]])
        console.log([[${#authentication.name}]])
        console.log([[${items}]])

        const table = new Tabulator("#request-table", {
            data: [[${items}]],
            height: 'auto',
            width: '100%',
            layout: "fitData",
            columns: [
                {
                    title: "Name",
                    field: "name",
                    vertAlign: "middle",
                },
                {
                    title: "Due Date",
                    field: "due_date",
                    formatter: 'datetime',
                    formatterParams: {
                        inputFormat: 'iso'
                    },
                    vertAlign: "middle",
                },
                {
                    title: "Next Approval",
                    field: "next_approval",
                    vertAlign: "middle",
                },
                {
                    title: "Status",
                    field: "status",
                    vertAlign: "middle",
                },
                {
                    title: "Actions",
                    field: "",
                    vertAlign: "middle",
                    formatter: function (cell, formatter, onRendered) {
                        const isRoleLevel1 = [[${#authorization.expression('hasAnyRole("SUPERVISOR", "MANAGER")')}]];
                        const id = cell.getRow().getData().id;
                        const approval = cell.getRow().getData().current_approval;
                        const nextApproval = cell.getRow().getData().next_approval;
                        const user = [[${#authentication.name}]];
                        return isRoleLevel1 ? `<div class="d-flex gap-2">
                                <button ${user == approval || user != nextApproval ? 'disabled' : ""} onclick="handleApproveStatus('${id}','APPROVED')" class="btn btn-outline-primary">Approve</button>
                                <button ${user == approval || user != nextApproval ? 'disabled' : ""} onclick="handleApproveStatus('${id}','REJECTED')" class="btn btn-outline-danger">Reject</button>
                        </div>` : "";
                    }
                }
            ]
        })

        function handleApproveStatus(id = '', status = "") {
            $("input[name='id']").val(id);
            $("input[name='actions']").val(status);
            $("#approve-form").submit();
        }
    </script>
</div>
</body>
</html>